### len()

is used to check the length

In [116]:
len('Ayaz')

4

In [117]:
len('thisisateststring')

17

In [118]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [119]:
len(numbers)

10

In [120]:
dictionary={'Mustafa':'9','Mehmet':'10','ilgin':'12','Ayaz':'10'}

In [121]:
len(dictionary)

4

In [122]:
fruits=['apple','banana','manago','lemon']

len(fruits)

4

In [123]:
for index in range(len(fruits)):
    print(f'the fruit at {index} is {fruits[index]}.')

the fruit at 0 is apple.
the fruit at 1 is banana.
the fruit at 2 is manago.
the fruit at 3 is lemon.

In [124]:
list_1=[]
x=30

for number in range(0,x,2):
    print(list_1.append(number))

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [125]:
list(range(0,30,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

doubles = [0, 2, 4,6, 8,10]
 
tripples = [0,3,9,12,15,18]

In [126]:
doubles=[]

for numbers in range(0,6):
    doubles.append(numbers*2)

In [127]:
doubles

[0, 2, 4, 6, 8, 10]

In [128]:
triples=[]

for number in range(0,7):
    triples.append(number*3)

In [129]:
triples

[0, 3, 6, 9, 12, 15, 18]

In [130]:
triples_2=[]

for number in range(0,19,3):
    triples_2.append(number)

In [131]:
triples_2

[0, 3, 6, 9, 12, 15, 18]

In [132]:
list_of_numbers = [number for number in range(1,6)]

In [133]:
list_of_numbers

[1, 2, 3, 4, 5]

In [134]:
doubles_1=[number for number in range(0,11,2)]

In [135]:
doubles_1

[0, 2, 4, 6, 8, 10]

In [136]:
triples_1=[number for number in range(0,20,3)]

In [137]:
triples_1

[0, 3, 6, 9, 12, 15, 18]

In [195]:
integers = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1ss, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 

positive_nums = [number for number in integers if number>0 ]
negative_numbs = [number for number in integers if number<0]
even_numbers = [number for number in integers if number>0 and number%2==0]
odd_numbers = [number for number in integers if number>0 and number%2==1]

In [196]:
positive_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [197]:
negative_numbs

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [198]:
odd_numbers

[1, 3, 5, 7, 9]

In [199]:
even_numbers

[2, 4, 6, 8, 10]

In [139]:
for number in integers:
    print (number)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [140]:
for number in range(-10,11):
    print(number)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [156]:
integers = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in integers:
    if number>0:
        print(number)

1
2
3
4
5
6
7
8
9
10